/* Skinny Bones Overrides */

#js-menu-trigger {
  @include media($large) {
    display: none;
  }
}

.top-menu {
  @include media($medium) {
    display: none;
  }
  @include media($large) {
    display: block;
  }
}

#site-footer {
  margin-top: 0px;
}

.sliding-menu-content li {
  min-height: auto;
  a {
    font-family: $alt-font;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* New styles */
#footer-wrapper {
  padding: 0 $gutter;
}

.recipe {
  .img {
    @include media($medium) {
      float:left;
      max-width: 500px;
      width: 60%;
    }
  }
  .ingredients {
    @include media($medium) {
      float:right;
      width: 35%;
    }

    h2 {
      font-size: 15px;
      margin: 0;
    }
    li {
      margin-bottom: 0;
    }
  }
  .instructions {
    padding: 10px 0 0;
    clear: both;
  }
}