---
layout: media
---

<p>{{ page.description }}</p>

<div class="recipe">
  <div class="img">
    <img src="{{ page.image_path }}" alt="page.title" />
  </div>

  <div class="ingredients">
    <h2>Ingredients</h2>
    <ul>
      {% for ingredient in page.ingredients %}
        <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    <h2>Nutrition (per serving)</h2>
    <ul>
      {% for nutrition in page.nutritions %}
        <li>{{ nutrition.label }}: {{ nutrition.value }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="instructions clearfix">
    <h2>Instructions</h2>
    {{ content }}
  </div>
</div>